@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg,#000000 .70%, 	#B0C4DE 100.61%);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-imagem {
  height: 70px; 
  border-radius: 80%;
  
}
.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 20px
}

.conteudo-secundario-titulo {
  padding-bottom: 30px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 30px;
  color: #FFF2EF;
  margin-bottom: 16px;
  text-align: center;
}

.conteudo-terciario-titulo {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 30px;
  color: #FFF2EF;
  margin-bottom: 26px;
  text-align: center;
}

.btn-curso{
  padding:.2rem 1rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur( 10px);
  -webkit-backdrop-filter: blur(10px);
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 6rem;
}

.portfolio .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
}

.portfolio .box-container .box{
  height: 10em;
  width:10em;
  border-radius: 1rem;
  margin:3rem;
  overflow: hidden;
  cursor: pointer;
}

.portfolio .box-container .box img{
  height:80%;
  width:90%;
  -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
  object-fit: cover;
  display: block;
  align-items: center;
}

.portfolio .box-container .box:hover img{
  border-radius: 50%;;
  -webkit-filter: blur(2px);
  filter: blur(1px);
  opacity: 0.3;
  -webkit-transform: scale(1.1);
   transform: scale(0.7);
}

.portfolio .box-container .box:hover  button {
  position:absolute;
  z-index:1;
  top:auto;
  margin:-4em 0em 0em  0em;    
  color: #FFF2E7;
}

.portfolio .box-container .box p{
  font-family: 'Sarala', sans-serif;
  font-weight: 550;
  color: #ADD8E6;
  text-align: center;
  font-size: 25px;
}


